* {
  box-sizing: border-box;
}

.masonry {
  columns: 2;
  column-gap: 16px;
  @media (max-width: 992px) {
    columns: 2;
  }
  @media (max-width: 768px) {
    columns: 1;
  }
  .grid {
    display: inline-block;
    margin-bottom: 16px;
    position: relative;
    img {
      width: 100%;
      border-radius: 5px;
    }
    .title {
      font-size: 28px;
      font-weight:bold;
      margin: 0px 0px 10px 0px;
    }
    .author {
      font-size: 14px;
      font-weight:300;
    }
    .link {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
    .body {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      padding: 30px 30px;
      color: #fff;
      display: flex;
      flex-direction: column
    }
    .tag {
      background-color:rgba(255,255,255,.6);
      color: #333;
      border-radius:5px;
      padding: 5px 15px;
      margin-bottom: 5px;
    }
  }
}

body {
    font-family: "Open Sans", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .gradient-border {
    --border-width: 3px;
    border-bottom: 0px;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      top: calc(-1 * var(--border-width));
      right: 0;
      width: calc(var(--border-width) * 2);
      height: calc(
        100% + var(--border-width)
      ); /* Set this to * 2 if you want y-axis border */
      background: linear-gradient(
        240deg,
        hsl(45, 100%, 70%),
        hsl(17, 97%, 62%),
        hsl(0, 95%, 66%)
      );
      background-size: 300% 300%;
      background-position: 0 50%;
      animation: moveGradient 4s alternate infinite;
    }
  }

  @keyframes moveGradient {
    50% {
      background-position: 100% 50%;
    }
  }