  .markdown h1 {
    font-size: 2.25rem;
    font-weight: 800;
    line-height: 2.5rem;
  }

  .markdown h2 {
    font-size: 1.75rem;
    font-weight: 800;
    line-height: 2rem;
  }

  .markdown h3 {
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 1.75rem;
  }

  .markdown p {
    min-height: 1rem;
    font-size: 20px;
    line-height: 32px;
  }

  .markdown a {
    color: var(--theme-link-color);
  }
  
  .markdown a:hover{
    text-decoration: underline;
  }

  .markdown img {
    max-width: 75%;
    margin: 0 auto;
  }

  .markdown blockquote {
    color: var(--theme-blockquote-text);
    border-left: 5px solid var(--theme-blockquote-border);
    padding-left: 10px;
    font-size: 1.5rem;
  }

  .markdown ul,
  .markdown ol {
    margin-left: 15px;
    list-style-position: inside;
  }

  .markdown ul ul,
  .markdown ol ul {
    list-style-type: circle;
    list-style-position: inside;
    margin-left: 15px;
  }

  .markdown ol ol,
  .markdown ul ol {
    list-style-type: lower-latin;
    list-style-position: inside;
    margin-left: 15px;
  }

  .markdown ul {
    list-style: disc;
  }

  .markdown ol {
    list-style: decimal;
  }
   .markdown li {
    margin-top: 8px;
   }

  .markdown hr {
    margin: 20px 0;
  }
  .markdown table {
    width: 100%;
  }

  .markdown th,
  .markdown td {
    border: 1px solid var(--theme-table-border);
    padding: 4px;
  }

  .markdown th {
    background-color: var(--theme-table-header-bg);
    text-align: left;
  }
  
  .markdown .expressive-code {
    margin: 12px 0px;
  }
  
  .markdown code{
    background-color: var(--theme-code-bg);
    padding: 2px 4px;
    font-family: monospace;
    max-width: calc(100vw - 330px) !important;
  }
