---
import Layout from "../layouts/Layout.astro";

import gif from "../assets/404.gif";
---

<Layout title="Whoops..." activeLink="">
  <div
    class="mt-12 w-full flex flex-col justify-center items-center text-white"
  >
    <h1 class="font-bold text-9xl">404</h1>
    <img
      src={gif.src}
      class="my-12"
      alt="A GIF Meme of child in a Popeye's looking awkwardly at the camera"
    />
    <p class="text-xl">(Not sure what you're looking for, but it's not here)</p>
  </div>
</Layout>
