---
import Layout from "../layouts/Layout.astro";
import Header from "../components/header.astro";
import "../styles/markdown.css";
---

<Layout title="Things I Dig" activeLink="Things">
  <Header
    title="Things I Dig"
    subtitle="My work setup, favorite music, movies, and more"
  />

  <p class="my-12">
    As a way to kind of share and collect things that I really enjoy, I've
    decided to put some of them together here. There's no affiliate links or any
    funny business, just a man trying to share some joy with others. If you do
    find something here that ends up bringing some joy to your life, shoot me a
    message on Twitter!
  </p>

  <ul class="markdown">
    <li>
      <h2>Work/Personal Setup</h2>
      <ul>
        <li>
          <span class="font-bold">Dell XPS 13</span>
          <p>
            Work computer, running Ubuntu. Works without breaking a sweat, even
            while linting and unit testing. The only drawback is the tiny screen
            on this thing which makes it pretty much unusuable, but I have two
            28" LG monitors for it as well.
          </p>
        </li>
        <li>
          <span class="font-bold">MacBook Pro M3</span>
          <p>
            This is what I use for my personal/freelance work, and the thing is
            a beast. Keyboard seems nicely improved from previous MacBooks as
            well.
          </p>
        </li>
        <li>
          <span class="font-bold">Keychron K2 Keyboard</span>
          <p>
            This was my first upgrade from my old Dell membrane keyboard from
            the early 2000s. I replaced the switches with tactile yellows, and
            absoultely love it.
          </p>
        </li>
        <li>
          <span class="font-bold">Presonus Eris Studio Monitors</span>
          <p>
            DO YOURSELF A FAVOR AND BUY SOME STUDIO MONITORS! I've been
            recording music since high school, and even a basic pair <a
              href="https://www.sweetwater.com/store/detail/Eris3.5--presonus-eris-3.5-3.5-inch-powered-studio-monitors"
              target="_blank">like these</a
            > will make every song sound better and provide better spatial clarity.
            I can't speak highly enough of them. You cannot buy headphones at the
            same price point that will sound as good. Period.
          </p>
        </li>
      </ul>
    </li>
    <li class="!mt-12">
      <h2>Movies</h2>
      <ul>
        <li>Once Upon A Time In Hollywood</li>
        <li>Everything, Everywhere, All At Once</li>
        <li>Dune 1 & 2</li>
        <li>Lord of the Rings Trilogy</li>
        <li>Wish I Was Here</li>
        <li>Space Balls</li>
        <li>The Princess Bride</li>
      </ul>
    </li>
    <li class="!mt-12">
      <h2>Music</h2>
      <ul>
        <li>Hippo Campus</li>
        <li>The Wrecks</li>
        <li>Young the Giant</li>
        <li>J. Cole</li>
        <li>Kendrick Lamar</li>
        <li>Cage the Elephant</li>
        <li>Bon Iver</li>
        <li>Neutral Milk Hotel</li>
        <li>Pink Floyd</li>
        <li>The Districts</li>
      </ul>
    </li>
    <li class="!mt-12">
      <h2>Books</h2>
      <ul>
        <li>A Brave New World - Aldous Huxley</li>
        <li>Infinite Jest - David Foster Wallace</li>
        <li>The Hobbit - J.R.R. Tolkien</li>
        <li>Cat's Cradle - Kurt Vonnegut</li>
        <li>Catch 22 - Joseph Heller</li>
        <li>Invisible Man - Ralph Ellison</li>
        <li>East of Eden - John Steinbeck</li>
        <li>Hitchiker's Guide to the Galaxy - Douglas Adams</li>
        <li>Frakenstein - Mary Shelley</li>
        <li>A Man Called Ove - Fredrik Backman</li>
      </ul>
    </li>
  </ul>
</Layout>
